@error: #f938ab;
@errorbg: #FDC;

.member img {
    text-align: center;
    width: 69px;
    height: 78px;
}

.list-inline > li {
    margin-right: 25px;
    width: 125px;
}

#swagging {
    text-align: center;
}

body {
    background-color: #1e1e1e;
}

.top-buffer {
    margin-top: 20px;
}

.white {
    background-color: #FFF;
}

.form input.error {
    border: 1px solid @error;
    background-color: @errorbg;
}

.form label.error {
    display: block;
    color: @error;
    font-size: 0.8em;
}
