<h1>Test</h1>

<div id="list">
    <ul data-bind="foreach: { data: Members}">
        <li>
            <img data-bind="attr: { src: Photo}" style="width: 69px;height: 78px;" />
            <span data-bind="text: $index"></span>
            <span data-bind="text: Name"></span>
            <span data-bind="text: MemberId"></span>
            <span data-bind="text: SwagCompany"></span>
            <span data-bind="text: SwagThing"></span>
        </li>
    </ul>

    <button data-bind="click: GetNextWinner">Swag</button>

    @Html.ActionLink("Reset and shuffle", "Reset")

    <div id="winner">
        <span data-bind="text: Winner">Hit the swag button</span>
        <span data-bind="text: WinnerSwagThing"></span>
    </div>

</div>



@section scripts
{
    <script>
        var memberViewModel = function memberViewModel(data) {
            var self = this;
            self.Id = data.MemberId;
            self.MemberId = ko.observable(data.MemberId);
            self.Name = ko.observable(data.Name);
            self.Photo = ko.observable(data.Photo);
            self.SwagCompany = ko.observable(data.SwagCompany);
            self.SwagThing = ko.observable(data.SwagThing);
        };

        $.getJSON("/home/memberlist")
            .then(function (rawData) {
                return ko.utils.arrayMap(rawData, function (instanceData) {
                    return new memberViewModel(instanceData);
                });
            })
            .done(function (mappedData) {
                applyBindings(mappedData);
            });

        function applyBindings(data) {
            var masterViewModel = function () {
                var self = this;
                self.Members = ko.observableArray(data);

                self.Winner = ko.observable("Hit the swag button..");
                self.WinnerSwagThing = ko.observable();

                self.GetNextWinner = function () {
                    loadNextWinner(self);
                };
            };
            
            ko.applyBindings(new masterViewModel());
        }

        function loadNextWinner(model) {
            $.getJSON("/home/nextwinner")
            .then(function (rawData) {
                var nextWinner = ko.utils.arrayFirst(model.Members(), function (member) {
                    return member.Id === rawData.Winner.MemberId;
                });
                nextWinner.SwagThing(rawData.WonSwag.Thing);

                model.Winner(rawData.Winner.Name);
                model.WinnerSwagThing(rawData.WonSwag.Thing);
            });
        }
    </script>

}


