<div class="row text-center">
    <div class="col-md-12">
        <input id="display1" class="XL" />
        @Html.ActionLink("Reset", "Reset", null, new { @class = "btn btn-danger" })
        <button class="btn btn-primary" data-bind="click: GetNextWinner">Swag</button>
        <input id="display2" class="XL" />
    </div>
</div>

<div id="list" class="row text-center">
    <div class="col-md-12">

        <ul class="list-inline" data-bind="foreach: { data: Members}">
            <li>
                <div data-bind="css: ApplyPanelClass" class=" row text-center panel member">
                    <div class="panel-heading">
                        <span data-bind="text: Name"></span>
                        <button data-bind="click: $parent.RemoveMember" type="button" class="close">&times;</button>
                    </div>
                    <div class="panel-body">
                        <span data-bind="text: SwagThing"></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

@Html.Partial("Partials/Winner")
@Html.Partial("Partials/AllSwaggedOut")


@section scripts
{
    <script src="~/Scripts/jquery-2.0.3.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/knockout-3.0.0.debug.js"></script>
    <script src="~/Scripts/jquery.transform.js"></script>
    <script src="~/Scripts/jquery.flapper.js"></script>
    <script src="~/Scripts/site.js"></script>
}


