<div class="row white paddding-btm">
    <div class="col-md-12">
        <button data-bind="click : clickMe">Click me</button>

    </div>
</div>


@section scripts
{

    <script src="~/Scripts/jquery-2.0.3.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/knockout-3.0.0.debug.js"></script>
    <script src="~/Scripts/test.js"></script>

}
