<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-2.0.3.js"></script>
    <script src="~/Scripts/knockout-3.0.0.debug.js"></script>
</head>
<body>

    <div>
        @RenderBody()
    </div>


    @RenderSection("scripts", false)
</body>
</html>
